body {
  background-image: url('../public/nag_bg.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100vh; /* 画面の最小高さをビューポートの高さに */
}


.body-overlay {
  position: fixed; /* 画面全体に固定 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
  z-index: 0; 
}
